extends layout

block content
  h1= name
  p Welcome to yay #{title}
  each data in arr
    figure
      img(src="/images/download.jpg", alt="bunny")
      figcaption this bunny looks cute m still wondering iffai can av one Lorem   ipsum dolor sit amet consectetur adipisicing elit. Porro non laudantium   nesciunt exercitationem nemo ea sed, deserunt assumenda delectus harum  molestiae reprehenderit reiciendis omnis aliquam quaerat numquam atque quas  pariatur?
